
.container {
  padding: 50px 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.datePickerInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.datePickerInput:hover {
  border-color: #007bff;
}

.datePickerInput:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.datePickerCalendar {
  border-radius: 8px;
  overflow: hidden;
}

.datePickerCalendar .react-datepicker__header {
  background-color: #007bff;
  border-bottom: none;
}

.datePickerCalendar .react-datepicker__current-month,
.datePickerCalendar .react-datepicker__day-name {
  color: #fff;
}

.datePickerCalendar .react-datepicker__day {
  color: #333;
}

.datePickerCalendar .react-datepicker__day--selected,
.datePickerCalendar .react-datepicker__day--keyboard-selected {
  background-color: #007bff;
  color: #fff;
}

.datePickerCalendar .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: #007bff;
  color: #fff;
}


/* //////square select button///////////// */



.optionsContainer {
  margin-top: 20px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.squareCheckbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  appearance: none;
  border: 2px solid #000;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.squareCheckbox:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  background-color: #000;
}